@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@import "tailwindcss";

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
        scrollbar-gutter: stable; 
    }
}

.nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;
    color: white;
    transform: translateX(-50%);
    border-radius: 2px;
}

.nav-link:hover::after {
    width: 70%;
}

.nav-link:hover {
    color: white;
}

