<nav class="sticky top-0 z-50 bg-gray-100 border-b border-gray-200">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <a href="index.html" class="nav-link text-xl">
            <i class="fas fa-home"></i>
        </a>
        <div class="flex items-center space-x-8">
            <a href="interests.html" class="nav-link">Zájmy</a>
            <a href="projects.html" class="nav-link">Projekty</a>
        </div>
        <a href="https://github.com/vldpr/ZIT" class="nav-link">Zdrojový kód</a>
    </div>
</nav>
